@import 'tailwindcss';

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: #f7f8f9;
}

.background-color {
  background-color: #ffffff;
}

.background-color-bold {
  background-color: #f7f8f9;
}

.background-color-primary {
  background-color: #0c66e4;
}

.background-color-primary:hover {
  background-color: #0055cc;
}

.text-hover-color-primary:hover {
  color: #0055cc;
}

.text-color-danger {
  color: #c9372c;
}

.text-color-danger:hover {
  color: #ae2e24;
}

.background-color-primary-soft {
  background-color: #cce0ff;
}

.background-color-primary-soft:hover {
  background-color: #85b8ff;
}

.icon-background {
  background-color: #cce0ff;
}

.text-color {
  color: #22272b;
}

.text-color-muted {
  color: #454f59;
}

.text-color-over-primary {
  color: #f1f2f4;
}

.border-color {
  border-color: #dcdfe4;
}

.border-color:hover {
  border-color: #0c66e4;
}

.background-color-danger {
  background-color: #c9372c;
}

.background-color-danger:hover {
  background-color: #ae2e24;
}

.separator {
  background-color: #ffffff;
}

.input-error {
  border-style: solid;
  border-width: 2px;
  border-color: #c9372c;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101214;
  }

  .background-color {
    background-color: #161a1d;
  }

  .background-color-bold {
    background-color: #101214;
  }

  .background-color-primary {
    background-color: #579dff;
  }

  .background-color-primary:hover {
    background-color: #85b8ff;
  }

  .text-hover-color-primary:hover {
    color: #85b8ff;
  }

  .text-color-danger {
    color: #f87168;
  }

  .text-color-danger:hover {
    color: #fd9891;
  }

  .background-color-primary-soft {
    background-color: #1c2b41;
  }

  .background-color-primary-soft:hover {
    background-color: #09326c;
  }

  .icon-background {
    background-color: #1c2b41;
  }

  .text-color {
    color: #f1f2f4;
  }

  .text-color-muted {
    color: #b3b9c4;
  }

  .text-color-over-primary {
    color: #22272b;
  }

  .border-color {
    border-color: #22272b;
  }

  .border-color:hover {
    border-color: #85b8ff;
  }

  .background-color-danger {
    background-color: #f87168;
  }

  .background-color-danger:hover {
    background-color: #fd9891;
  }

  .separator {
    background-color: #161a1d;
  }

  .input-error {
    border-style: solid;
    border-width: 2px;
    border-color: #c9372c;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
